*{
	box-sizing: border-box;
}

html, body{
	background: #34495E;
}

#wrapper{
	background: #34495E;	
}

#sidemenu{
	background: #117A65;
	color: white;
	padding: 20px 20px 20px 5px;
}

.page_title{
	text-align: left;
}

#page{
	background: #2980B9;
	color: white;
	text-align: center;
	margin-top: 10px;
	padding: 2px 20px 20px 20px;
	border: 3px outset #F6DDCC;
}

#choices{
	list-style: none
}

.choice{
	margin:5px;
}
